afg==0.2
aniso8601==3.0.0
asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography==2.2.2
enum34==1.1.6
Flask==0.12.2
Flask-Ask==0.8.8
fysom==2.1.5
idna==2.6
ipaddress==1.0.19
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pkg-resources==0.0.0
pycparser==2.18
pyOpenSSL==17.5.0
PyYAML==3.12
six==1.11.0
Werkzeug==0.14.1
wrapt==1.10.11
